---

all:
  hosts:
%{ for index, group in server_ips ~}
    ${ server_names[index] }:
      ansible_host: ${ server_ips[index] }
      ansible_user: ${ username }
%{ endfor ~}
  vars:
    SHARE_KEY: ${ manila_share_key }
    METASHAPE_LICENSE_SERVER_IP: "${ metashape_license_server_ip }"
    INSTALL_R_PACKAGES: ${ install_r_packages }
