username = ""
project = ""
instance_name = ""
image_name = ""
flavor = ""
keypair = ""
root_storage_type = "volume"
root_storage_size = "60"
root_storage_delete_on_termination = "false"
manila_share_key = ""
primary_metashape_license =   ""
secondary_metashape_license = ""
